.footer{
    background-color: rgb(34, 32, 32);
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer h3{
   margin-top: 20px;
}
.footer .links{
    display: flex;
    gap: 20px;
}